[default]
account = "WSNKQWX-GHB72097"
user = "yang"
password = "{{ onepasswordRead "op://Engineering/Snowflake yang WSNKQWX/password" "seenhealth.1password.com" }}"
role = "USERADMIN"
warehouse = "WEST_HEALTH"
